.card-wrap {
  width: 100%;

  margin: 0 auto;
  border-radius: 40px;
  padding: 20px;
  cursor: pointer;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  box-shadow: 1px 3px 10px rgb(120, 101, 89);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(-3px);
  }

  .content {
    width: 70%;
    font-size: 12px;
  }
  .date {
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
}

@media (min-width: 370px) {
  .card-wrap {
    .content {
      font-size: 14px;
    }
  }
}
