.nav-wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 20px;
  .navlist {
    display: flex;
    justify-content: center;
    // justify-content: flex-end;
    // align-items: center;
    gap: 10px;
    max-width: 1280px;
    margin: 0 auto;

    list-style: none;
    li {
      list-style: none;
      position: relative;

      span {
        font-size: 10px;
        cursor: pointer;
      }
      & :hover {
        color: #7a6860;
      }

      &:not(:last-child)::after {
        content: "I";
        position: absolute;
        font-size: 10px;
        right: -6px;
        top: 6px;
        color: rgb(171, 171, 171);
      }
    }
  }
  .modal {
    border: 0.5px solid rgb(122, 122, 122);
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    width: 100%;
    max-width: 300px;
    margin: 20px auto 0px auto;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

@media (min-width: 480px) {
  .nav-wrap {
    .navlist {
      justify-content: flex-end;
    }
  }
}
